.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100px;
  text-align: center;
  background: rgb(99, 20, 92);
  align-content: center;
  
}

.header__tranding {
  display: inline-block;
  width: 150px;
  height: 40px;
  background-color: rgb(255, 153, 0);
  justify-self: end;
}
.header__random {
  display: inline-block;
  width: 150px;
  height: 40px;
  background-color: rgb(240, 205, 9);
  justify-self: start;
  margin-left: 20px;
}

.header__btn {
  width: 120px;
  height: 40px;
}
